@font-face{
    font-family: "Lato-Italic";
    src: url('../fonts/Lato/Lato-Italic.ttf');
    font-style: normal; 
    font-weight: normal; 
    }

@font-face{
    font-family: "Lato-LightItalic";
    src: url('../fonts/Lato/Lato-LightItalic.ttf');
    font-style: normal; 
    font-weight: normal; 
    }

@font-face{
    font-family: "Lato-Light";
    src: url('../fonts/Lato/Lato-Light.ttf');
    font-style: normal; 
    font-weight: normal; 
    }

@font-face{
    font-family: "Lato-Regular";
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-style: normal; 
    font-weight: normal; 
        }
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato-Regular', sans-serif;
    background: #fefefe;
}

.container{
    width: 90%;
	max-width: 1400px;
	margin: 0px auto;
}

.wrapper {
    margin: 130px 100px;
    background-color: #fff;
    box-shadow: 0 0 100px lightgray;
}

.content {
    padding: 140px 140px 120px 120px;
}

h1 {
    padding-bottom: 18px;
    font-family: 'Lato';
    font-size: 280%;
    font-weight: normal;
}

.content_text {
    color: #8f8f8f;
    font-family: "Lato-LightItalic";
    font-size: 105%;
    letter-spacing: 0.03em;
    line-height: 2;
}

.part_1 {
    padding-bottom: 38px;
}

.part_1::first-letter {
    font-family:'Lato';
    font-size: 110px;
    color: #000;
    line-height: 99px;
    float: left;
    padding-right: 30px;
}

.part_2 {
    padding-bottom: 38px;
    /*padding-bottom: 52px; по фотошопу, не стыковка с pixelperfect, там 38px выходит*/
}

.quote {
    padding-bottom: 35px;
    font: italic 155% 'Lato-Light';
    /*font-family: 'Lato-Light';*/
    color: #5c5c5c;
    line-height: 1;
    letter-spacing: 1px;
}

.quote::before {
    content: '“';
    font-size: 300%;
    padding-right: 20px;
}


.btn {
    display: inline-block;
    background-color: #fff;
    color: #eaa258;
    border: 2px solid #eaa258;
    width: 264px;
    height: 68px;
    line-height: 24px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 110%;
    letter-spacing: 0.2em;
    cursor: pointer;
}

.btn:hover {
    background: #eaa258;
    border-color: #eaa258;
    color: #fff;
}

/* в работе замечал некие расхождения в размерах в фотошопе и при сравнении с PixelPerfect */