@charset "UTF-8";
@media screen and (max-width: 1300px) {
  .gallery__grid {
    grid-template-columns: calc(50% - 30px) calc(16.333% - 15px) calc(33.333% - 15px);
  }
}
@media screen and (max-width: 1170px) {
  .title {
    background: url(../images/bg_title.jpg) center center/cover no-repeat;
  }
  .title__main {
    width: 50%;
  }

  .about__pic img {
    max-width: 90%;
    padding-top: 40px;
  }
  .about__main {
    padding-top: 80px;
  }
  .about__main-title {
    font-size: 4.375rem;
  }

  .tomato {
    padding: 60px 0 125px;
  }
  .tomato__column {
    max-width: 350px;
  }
  .tomato__row-right {
    background: url(../images/tomato.png) center center/auto 75% no-repeat;
  }
  .tomato__title {
    text-align: center;
    font-size: 4.375rem;
  }

  .gallery {
    padding: 60px 0 100px;
  }
  .gallery .subtext {
    width: 60%;
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 1020px) {
  .gallery .subtext {
    width: 75%;
  }
}
@media screen and (max-width: 850px) {
  .header__menu {
    display: none;
  }

  .header__logo img {
    width: 75%;
  }

  .hamburger_menu {
    display: block;
  }

  .mobile_logo img {
    width: 75%;
  }

  .gallery {
    padding: 50px 0 80px;
  }
  .gallery .subtext {
    width: 95%;
  }
  .gallery .title-black {
    padding-bottom: 15px;
    font-size: 5rem;
  }
  .gallery__grid {
    grid-template-columns: 1fr 1fr;
  }
  .gallery__grid .image-big {
    grid-area: span 1/span 2;
  }
  .gallery__grid .image-middle:last-child {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 666px) {
  .gallery {
    padding: 40px 0 60px;
  }
  .gallery .subtext {
    width: 100%;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 365px) {
  .header {
    height: 70px;
  }
  .header__logo img {
    width: 60%;
  }

  .gallery {
    padding: 20px 0 40px;
  }
  .gallery .title-black {
    padding-bottom: 10px;
    font-size: 3.75rem;
  }
  .gallery__button {
    padding: 30px 0 0px;
  }
  .gallery .btn-blue {
    padding: 0 15px;
    height: 45px;
    width: 130px;
    font-size: 1rem;
  }
}
/* Пробный вариант формулы на работу от фрилансера 
@media screen and (max-width:770px) {
    .content {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1120 - 320)));
    }
} */