@import "hamburger";

$base_size:16;

@mixin fz($px_size) {
    font-size: ($px_size/$base_size)+rem;
}

%title {
    @include fz(90);
}

%subtext {
    font: 400 1rem 'Raleway';
    line-height: 26px;
    letter-spacing: 0.03em;
}

%text_form {
    color: #fff;
    font: 400 1rem 'Ralevay';
    padding: 0 5px;
}

%btn-block {
    text-align: center;
    padding: 50px 0 0px;
}

%btn {
    display: inline-block;
    height: 55px;
    width: 200px;
    line-height: 46px;
    padding: 0 20px;
    //border-radius: 14px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
    //position: relative;	
    box-shadow: 0px 4px 5px 1px #6F6C70;
}

%btn-blue {
    background-color: #34587d;
    border: 1px solid #34587d;

    &:hover {
        background: #10293d;
        border-color: #10293d;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 10;

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }

    &__menu {
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;

            li {
                +li {
                    margin-left: 40px;
                }

                a {
                    color: #262626;
                    font: 600 1rem 'Raleway';
                    text-decoration: none;
                }

                //посже нужно переделать этот пункт!
                a:hover {
                    border-top: 3px solid #f90;
                }
            }
        }
    }
}

.title {
    // background: url(../images/bg_title.jpg) right center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f8fb;
    //padding: 350px 0 405px; 
    &__pic {
        height: 96vh;
        background-position: center center;
        background-size: content;
        background-repeat: no-repeat;
    }

    &__main {
        width: 32%;
        margin-top: -50px;

        &-text {
            //font: 900 60px 'Raleway';
            @include fz(60);
            font-weight: 900;
            padding-bottom: 15px;
            color: #262626;
        }

        .subtext {
            @extend %subtext;
            padding-bottom: 30px;
        }

        &_button {
            @extend %btn;
            background-color: #ff6033;
            border: 1px solid #ff6033;
        }

        &_button:hover {
            background: #91371f;
            border-color: #91371f;
        }
    }

    // верста мышки
    &::before {
        content: '';
        width: 23px;
        height: 37px;
        border: 2px solid #2c2d2d;
        border-radius: 14px;
        position: absolute;
        bottom: 11vh;
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        content: '';
        width: 3px;
        height: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(11vh - -23px);
        background-color: #2c2d2d;
    }
}


.about {
    background: #00bdbd;
    padding: 29px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        //align-items: center; текс не по макету!
    }

    //делаем резин. изображение с Lazyload
    &__pic {
        width: 55%;
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
            background-color: #00bdbd;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 42%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        //нужный параметр гля более гибкой загрузки картинки
        &.top {
            img {
                top: 0;
                transform: translate(-50%, 0);
            }
        }
    }

    &__main {
        //flex: 0 0 40%;
        //width: 50%;
        width: 41%;
        color: #fff;
        padding-top: 130px;

        &-title {
            font: 700 90px 'Raleway';
            margin-left: -20px; //так стоит выравнивать текст?
        }

        &-subtext {
            @extend %subtext;

            p {
                padding: 9px 0;
                margin-left: -20px; //так стоит выравнивать текст?
            }
        }
    }
}


.tomato {
    background: #70bfff;
    padding: 80px 0 135px;

    &__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        >div {
            width: 50%;
        }
    }

    &__row-left {
        //flex: 1 1 35%;
        //font-size: 0;
        padding: 75px 0 0 100px;
    }

    &__column {
        list-style: none;
        max-width: 400px;

        li {
            //width: 400px;
            //height: 100px;
            background-color: #fff;
            margin: 20px 0;
            text-align: center;
            position: relative;
            box-shadow: -3px 1px 5px 0px #366996, 0px 7px 8px 0px #366996;

            a {
                text-decoration: none;
                color: #262626;
                font: 600 1.3rem 'Raleway';
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        li:hover {
            background: linear-gradient(45deg, rgb(112, 191, 255) 7%, rgb(246, 66, 24) 86%);
            //border-radius: 70%;
            -webkit-transform: scale(1.15); //для работы на разных браузерах!
            -ms-transform: scale(1.15);
            transform: scale(1.15);
            border-radius: 50px;
        }

        &_link {
            width: calc(100% - 100px);
        }

        &_icon {
            width: 100px;
            height: 100px;
            border-left: 1px solid #9d9d9d;

            svg {
                width: 55px;
                position: absolute;
                top: -25px; // такой вариант норм??
                right: 22px;
            }
        }
    }

    &__row-right {
        // background: url(../images/tomato.png) right top/auto 97% no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__pic {
        height: 100%;
        background-position: right top;
        background-size: auto 97%;
        background-repeat: no-repeat;
    }


    &__title {
        // padding-top: 230px;
        // padding-top: 22vh;
        padding-top: 42%;
        color: #fff;
        text-align: right;
        @include fz(90);
        letter-spacing: 1px;
        //margin-top: -11px;
    }
}


.gallery {
    background: #ffe92f;
    padding: 80px 0 120px;

    img {
        width: 100%;
        height: 100%;
        box-shadow: 0px 3px 5px 1px #353335;
        object-fit: cover;
    }

    &__text {
        text-align: center;

        .title-black {
            @extend %title;
            color: #262626;
            padding-bottom: 23px;
        }

        .subtext {
            @extend %subtext;
            width: 53%;
            margin: 0 auto;
            padding-bottom: 45px;
        }
    }

    &__grid {
        display: grid;
        //grid-template-columns: calc(50% - 30px) calc(16.333% - 15px) calc(33.333% - 15px);
        //grid-template-columns: 50% 16.333% 33.333%;
        //grid-template-columns: 5fr 2fr 3fr;
        gap: 30px;
    }

    .image-big {
        grid-area: span 2/span 2;
    }

    //делаем резин. изображение с Lazyload
    .picture-big {
        width: 100%;
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-top: 71.428%;
            background-color: #ffe92f;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        //нужный параметр гля более гибкой загрузки картинки
        &.gal-top {
            img {
                top: 0;
                transform: translate(-50%, 0);
            }
        }
    }


    // Not working variant!
    // .picture-small {
    //     width: 100%;
    //     position: relative;

    //     &::before {
    //         content: '';
    //         display: block;
    //         padding-top: 70.27%;
    //         background-color: #00bdbd;
    //     }

    //     img {
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         left: 50%;
    //         top: 50%;
    //         transform: translate(-50%, -50%);
    //     }

    //     //нужный параметр гля более гибкой загрузки картинки
    //     &.gal-top_1 {
    //         img {
    //             top: 0;
    //             transform: translate(-50%, 0);
    //         }
    //     }
    // }

    // Not working variant!
    // .picture-middle {
    //     width: 100%;
    //     position: relative;

    //     &::before {
    //         content: '';
    //         display: block;
    //         padding-top: 70.17%;
    //         background-color: #00bdbd;
    //     }

    //     img {
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         left: 50%;
    //         top: 50%;
    //         transform: translate(-50%, -50%);
    //     }

    //     &.gal-top {
    //         img {
    //             top: 0;
    //             transform: translate(-50%, 0);
    //         }
    //     }
    // }



    .image-middle:last-child {
        grid-column: 2/4;
    }

    &__button {
        @extend %btn-block;
    }

    .btn-blue {
        @extend %btn;
        @extend %btn-blue;
    }

}

.subscribe {
    // background: url(../images/bg_subscribe.jpg) center center/auto no-repeat;
    padding: 135px 0 163px;

    &__pic {
        background-color: #fff;
        background-position: center center;
        background-size: auto;
        background-repeat: no-repeat;
    }

    &__text {

        //padding-bottom: 15px;
        h3 {
            padding-bottom: 17px;
            font: 600 2.5rem 'Raleway';
        }

        .subtext {
            @extend %subtext;
            width: 50%;
        }
    }

    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 66%;
        //height: 60px;
        padding: 29px 0 0;
    }

    &__mail {
        flex: 1 1 auto;
        width: 100%;
        height: 55px;
        border: 1px solid #000;
    }

    .subscribe__email {
        width: calc(100% - 198px);
    }

    &__field::placeholder {
        @extend %subtext;
    }

    &__button {
        flex: 0 0 170px;
    }

    .btn-green {
        @extend %btn;
        width: 170px;
        background-color: #96b92c;
        border: 1px solid #96b92c;

        &:hover {
            background: #4a5c16;
            border-color: #4a5c16;
        }
    }
}

.blog {
    background: #b07cf7;
    padding: 80px 0 120px;
    color: #fff;

    &__text {
        text-align: center;
    }

    &__title {
        @extend %title;
        padding-bottom: 25px;
    }

    .subtext {
        @extend %subtext;
        width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__column {
        flex: 0 1 33.333%;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: .5s;
        }
    }

    .item-blog {
        position: relative;
        overflow: hidden;

        img {
            box-shadow: 0px 2px 5px 1px #353335;
        }

        &:hover .item-blog__date {
            position: absolute;
            top: 30px;
            left: 30px;
            //display:block; 2-й вариант 
            //visibility: inherit;
            //opacity: 0.5;
            //z-index:9999;
        }

        &__date {
            //display:none; 3-й вариант
            //Варианты спрятать дату: overflow: hidden; visibility:hidden; display:none;
            width: 60px;
            height: 60px;
            border-radius: 7px;
            background: rgba(76, 78, 78, 0.5);
            text-transform: uppercase;
            text-align: center;
            @include fz(22);
            font-weight: 600;
            position: absolute;
            left: -100px;
            top: -100px;
            transition: all .5s ease;

            span {
                @include fz(30);
            }
        }
    }

    .item-blog__pic {
        display: inline-block;
        position: relative;
        line-height: 0;
    }

    .item-blog__pic:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        //background: transparent;
        background-image: linear-gradient(to top, black 10%, transparent 100%);
        background-size: cover;
        //background-position: center;
        opacity: 0.8;
    }

    .item-text {
        font-family: 'Raleway';
        padding: 5px 20px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .item-blog__title {
        font-weight: 600;
        @include fz(20);
    }

    .item-blog__text {
        @include fz(14);
        line-height: 50px;
    }

    &__button {
        @extend %btn-block;
    }

    .btn {
        @extend %btn;
        background-color: #f72b3b;
        border: 1px solid #f72b3b;

        &:hover {
            background: #81161f;
            border-color: #81161f;
        }
    }
}

.contact {
    // background: url(../images/bg_contact.jpg) center center/cover no-repeat;
    padding: 80px 0 52px;

    &__pic {
        background-color: #fff;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__text {
        text-align: center;

        .title-black {
            @extend %title;
            color: #262626;
            padding-bottom: 23px;
        }

        .subtext {
            @extend %subtext;
            max-width: 30%;
            margin: 0 auto;
            padding-bottom: 33px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-evenly;
    }

    &__row-left {
        flex: 1 0 57%;
        width: 100%;
        //height: 100%;
    }

    &__row-right {
        //flex: 1 0 43%;
        list-style: none;
        width: 100%;
    }

    &__row-right a {
        text-decoration: none;
        color: #262626;
    }

    &__field {
        margin-bottom: 15px;
        outline: none;
        border: none;
        border-left: 5px solid rgba(126, 128, 129, 0);
        background-color: #00c4c4;
        opacity: 0.5;
    }

    &__field::placeholder {
        @extend %text_form;
    }

    &__field:focus {
        @extend %text_form;
        background-color: #00c4c4;
        opacity: 1;
        border-left: 5px solid #355b82;
    }

    &__name,
    &__mail,
    &__tel {
        //width: 500px;
        width: 75%;
        height: 50px;
    }

    &__message {
        height: 250px;
        //width: 500px;
        width: 75%;
        resize: none;
        @extend %text_form;
    }

    &__button {
        width: 75%;
        text-align: center;
    }

    .btn-blue {
        @extend %btn;
        @extend %btn-blue;
    }

    &__address {
        font: 700 17px 'Ralevay';
        color: #262626;
        line-height: 26px;
    }

    &__data {
        font: 200 21px 'Ralevay';
        color: #434343;
        line-height: 30px;
    }
}

.footer {
    background: #262626;
    color: #b9b9b9;
    height: 90px;
    padding: 35px 0;

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        //padding: 35px 0; 
        //line-height: 90px;
    }

    .word-pink {
        color: #ff2b58;
    }
}



.hamburger_menu {
    display: none;

    a {
        display: inline-block;
        width: 40px;
        height: 40px;
    }
}

.page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
    backdrop-filter: blur(2px);
}

.mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -110%;
    //left: -500px;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    box-shadow: 0 0 10px #000;
    transition: all .4s ease;
    z-index: 1000;
    max-width: 400px;
}

.sidemenu_top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidemenu {
    li {
        border-bottom: 1px solid #666;

        a {
            display: inline-block;
            padding: 15px;
            text-decoration: none;
            @include fz(20);
            font-weight: 700;
            text-transform: uppercase;
            width: 100%;
            color: #000;
        }
    }
}

.open {
    .page_overlay {
        display: block;
    }

    .mobile_menu_wrap {
        left: 0;
    }
}