@media screen and (max-width: 1900px) {
  .magazine__title h4 {
    font-size: calc(30px + 50 * ((100vw / 1900)));
  }
  .magazine__gallery-block_title p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1630px) {
  .magazine__title {
    width: 75%;
  }
  .magazine__title::before {
    top: 17%;
    left: 13%;
  }
  .magazine__gallery .slick-prev:before {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }
  .magazine__gallery .slick-next:before {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }
  .magazine__gallery .slick-prev {
    left: -40px;
    top: 50%;
  }
  .magazine__gallery .slick-next {
    top: 50%;
    right: -10px;
  }
  .magazine__gallery-block_title p {
    font-size: 2rem;
    letter-spacing: 0.05em;
  }

  .prev {
    left: -65px;
    bottom: 50%;
    height: 50px;
    width: 50px;
  }
  .prev:before {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }

  .next {
    right: -15px;
    bottom: 50%;
    height: 50px;
    width: 50px;
  }
  .next:before {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 1450px) {
  body::before {
    height: 130vh;
  }
  body::after {
    height: 130vh;
  }

  .main::before {
    height: 130vh;
  }
  .main::after {
    height: 130vh;
  }

  .magazine {
    padding: 55px 0 80px;
  }
  .magazine .prev {
    bottom: 60%;
  }
  .magazine .next {
    bottom: 60%;
  }
}
@media screen and (max-width: 1350px) {
  .magazine__title {
    width: 85%;
  }
  .magazine__title::before {
    left: 10%;
  }
  .magazine__gallery-block_text {
    left: 15px;
    bottom: 25px;
  }
  .magazine__gallery-block_title {
    padding-bottom: 30px;
  }
  .magazine__gallery-block_title p:first-child {
    padding-bottom: 35px;
  }
  .magazine__gallery-block_title p {
    font-size: 1.5625rem;
    letter-spacing: 0.04em;
  }
}
@media screen and (max-width: 1350px) and (max-width: 1100px) {
  .magazine .prev {
    bottom: 65%;
  }
  .magazine .next {
    bottom: 65%;
  }
}
@media screen and (max-width: 999px) {
  .magazine__title::before {
    left: 5%;
  }
  .magazine .prev {
    left: -55px;
    bottom: 55%;
  }
  .magazine .next {
    right: -25px;
    bottom: 55%;
  }
  .magazine__gallery ul {
    margin: 0 -15px;
  }
  .magazine__gallery ul li {
    padding: 15px;
  }
}
@media screen and (max-width: 840px) {
  .magazine__title::before {
    left: 0%;
  }
  .magazine__gallery .slick-prev {
    left: -30px;
  }
  .magazine__gallery .slick-prev:before {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
  .magazine__gallery .slick-next:before {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
  .magazine .prev {
    left: -45px;
    bottom: 45%;
    height: 40px;
    width: 40px;
  }
  .magazine .prev:before {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
  .magazine .next {
    right: -15px;
    bottom: 45%;
    height: 40px;
    width: 40px;
  }
  .magazine .next:before {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
}
@media screen and (max-width: 680px) {
  .magazine__title {
    padding-bottom: 30px;
  }
  .magazine__title::before {
    border-top: 15px solid transparent;
    border-right: 30px solid #e98457;
    border-bottom: 15px solid transparent;
  }
  .magazine__title h4 {
    font-size: 2.1875rem;
  }
  .magazine__gallery .slick-prev {
    left: -25px;
  }
  .magazine__gallery .slick-next {
    right: -5px;
  }
  .magazine .prev {
    left: -40px;
    bottom: 60%;
  }
  .magazine .next {
    right: -10px;
    bottom: 60%;
  }
}
@media screen and (max-width: 580px) {
  .container {
    width: 90%;
  }

  .magazine {
    padding: calc(30px + (50 - 30) * ((100vw - 320px) / (1880 - 320)));
  }
  .magazine__title {
    padding-top: 20px;
  }
  .magazine__title::before {
    top: 10%;
    left: 3%;
  }
  .magazine__title_text p {
    font-size: 1rem;
  }
  .magazine__title_main h4 {
    font-size: 1.625rem;
  }
  .magazine__gallery .slick-prev {
    left: -40px;
  }
  .magazine__gallery .slick-next {
    right: -20px;
  }
  .magazine .prev {
    left: -55px;
    bottom: 40%;
  }
  .magazine .next {
    right: -25px;
    bottom: 40%;
  }
}
@media screen and (max-width: 480px) {
  body::before {
    height: 100vh;
  }
  body::after {
    height: 100vh;
  }

  .main::before {
    height: 100vh;
  }
  .main::after {
    height: 100vh;
  }

  .magazine__gallery .slick-prev {
    left: -30px;
  }
  .magazine__gallery .slick-next {
    right: -10px;
  }
  .magazine .prev {
    left: -45px;
    bottom: 50%;
  }
  .magazine .next {
    right: -15px;
    bottom: 50%;
  }
}
@media screen and (max-width: 420px) {
  .magazine .prev {
    bottom: 60%;
  }
  .magazine .next {
    bottom: 60%;
  }
}
@media screen and (max-width: 350px) {
  .magazine .prev {
    bottom: 65%;
  }
  .magazine .next {
    bottom: 65%;
  }
  .magazine__gallery-block_title p {
    font-size: 1.25rem;
  }
}