@font-face{
    font-family: "HansKendrick-Regular";
    src: url('../fonts/HansKendrick-Regular.woff2');
    font-style: normal; 
    font-weight: normal; 
    }
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body {
    width: 100%;
    height: 100%;
    font-family: 'HansKendrick-Regular', Arial, Helvetica, sans-serif;
    background-color: #e2e7ec;
}

.container{
    width: 90%;
	max-width: 1120px;
	margin: 0px auto;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: 1fr 1fr;*/
    gap: 20px;
    padding : 92px 0;
    font-size: 1rem;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.hi__row_main{
    position: relative;
    grid-column-start: span 2;
    /* display: inline-block;
    width: calc(66.666% - 8px);  */   
}

/* один из вариантов чтобы не деформировалась картинка */
.hi__image_first {
    position: relative;
    padding-bottom: 56.25%;
    height: 100%;
    overflow: hidden;
  }
  .hi__image_first img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }

.hi__image_first::after {
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	bottom: 0;      
	left: 0;   
	background: transparent;
    background-image: linear-gradient(0deg, #000000 60%, #f5f5d1 100%);
	opacity: 0.6;
}

.hi_row {
    /* height: 540px;  */
    /*width: calc(33.333% - 20px*2/3); */
    background-color: #fff;
    position: relative;
}

.main_text {
    position: absolute;
    width: 100%;
    bottom: 33px;
    left: 45px;
    padding-right: 40%;
    font-weight: bold;
    font-family: 'HansKendrick-Regular';
}

.hi_main_title h3 {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    padding-top: 12px;
}

.row_text {
    padding: 0 26px 0 28px;
}

.date {
    color: #818181;
    font-size: 0.9rem;
}

.icon {
    position: absolute;
    left: 28px;
    bottom: 25px;
}

.hi__image {
    padding-bottom: 25px;
}

.hi_title h3 {
    padding: 13px 0 145px;
    font: 600 1.3rem 'HansKendrick-Regular';
    /*на макете шрифт жирнее такого нет у меня*/
}

.footer__row {
    display: grid;
	height: 30px;
	align-items: center;
    justify-items: center;
    padding-bottom: 100px;
}

.footer__text {
    color: #99a5b0;
    font-size: 0.8rem;
}

i {
    font-size: 30px;
    color: #99a5b0;
    background: -webkit-linear-gradient(#99a5b0, darkgrey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Пробный вариант формулы на работу от фрилансера */
@media screen and (max-width:1120px) {
    .content {
        padding: calc(10px + (50 - 10) * ((100vw - 320px) / (1120 - 320)));
    }
}

@media screen and (max-width:690px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }    
    .main_text {
        position: absolute;
        bottom: 50px;
        padding-right: 15%;
    } 
    .date {
        color: #c9c6c6;
        font-size: 1rem;
    } 
    .hi_title h3 {
        font-size: 1.2rem;
    }
    .footer__row {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 449px) {
    .container{
        width: 100%;
    }
    /* Один из вариантов чтобы картинка не была маленькой по высоте по отшению к другим блокам */
    .hi__image_first {
        height: 450px;
    }      
    .hi__image_first img {
        width: 100%;
        height: 100%;
    }
    .hi_row img {
        width: 100%;
        height: 100%;
    }
    
    .main_text {
        left: 20px;
        bottom: 20px;
        padding-right: 30px;
    }
    .hi_main_title h3 {
        font-size: 1.5rem;
    }
    .row_text {
        padding: 0 15px 0 15px;
    }
    .hi_row {
        grid-column-start: span 2;
    }   
}
