@media screen and (max-width:780px) {
    .main {
        padding: calc(10px + (50 - 10) * ((100vw - 320px) / (1120 - 320)));
    }

    .hi__top {
        padding: 30px 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;

        .pic:last-child {
            grid-area: span 2 / span 2;
        }
    }

    .hi__bottom {
        grid-template-columns: repeat(2, 1fr);
    }
}