$base_size:16;

@mixin fz($px_size) {
    font-size: ($px_size/$base_size)+rem;
}

@media screen and (max-width: 1300px) {
    .gallery {
        &__grid {
            grid-template-columns: calc(50% - 30px) calc(16.333% - 15px) calc(33.333% - 15px);
        }
    }
}

@media screen and (max-width: 1170px) {

    .gallery {
        padding: 60px 0 100px;
        .subtext {
            width: 60%;
            padding-bottom: 35px;
        }
    }
}

@media screen and (max-width: 1020px) {
    .gallery {
        .subtext {
            width: 75%;
        }
    }
}


@media screen and (max-width:850px) {
    .gallery {
        padding: 50px 0 80px;
        .subtext {
            width: 95%;
        }
        .title-black {
            padding-bottom: 15px;
            @include fz(80)
        }
        &__grid {
            //grid-template-columns: 50% 50%;
            grid-template-columns: 1fr 1fr;

            .image-big {
                grid-area: span 1 / span 2;
            }
            .image-middle:last-child {
                grid-column: 2/3;
            }
        }
    }
}

@media screen and (max-width:666px) {
    .gallery {
        padding: 40px 0 60px;
        //padding-right: 20px;
        .subtext {
            width: 100%;
            padding-bottom: 25px;
        }
    }
}

@media screen and (max-width:365px) {
    .gallery {
        padding: 20px 0 40px;
        .title-black {
            padding-bottom: 10px;
            @include fz(60)
        }
        // Working alternative variant!
        // .gal-pic {
        //     grid-column-start: span 2;
        // }
        // .image-middle:last-child {
        //     grid-column: 1/3;
        // }
        &__button {
            padding: 30px 0 0px;
        }
        .btn-blue {
            padding: 0 15px;
            height: 45px;
            width: 130px;
            font-size: 1rem;
        }  
    }
}



/* Пробный вариант формулы на работу от фрилансера 
@media screen and (max-width:770px) {
    .content {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1120 - 320)));
    }
} */