$base_size:16;

@mixin fz($px_size) {
    font-size: ($px_size/$base_size)+rem;
}

%title {
    @include fz(90);
}

%subtext {
    font: 400 1rem 'Raleway';
    line-height: 26px;
    letter-spacing: 0.03em;
}

%text_form {
    color: #fff;
    font: 400 1rem 'Ralevay';
    padding: 0 5px;
}

%btn-block {
    text-align: center;
    padding: 50px 0 0px;
}

%btn {
    display: inline-block;
    height: 55px;
    width: 200px;
    line-height: 46px;
    padding: 0 20px;
    //border-radius: 14px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
    //position: relative;	
    box-shadow: 0px 4px 5px 1px #6F6C70;
}

%btn-blue {
    background-color: #34587d;
    border: 1px solid #34587d;

    &:hover {
        background: #10293d;
        border-color: #10293d;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

img {
    vertical-align: top;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}


.gallery {
    background: #ffe92f;
    padding: 80px 0 120px;

    img {
        width: 100%;
        height: 100%;
        box-shadow: 0px 3px 5px 1px #353335;
        object-fit: cover;
    }

    &__text {
        text-align: center;

        .title-black {
            @extend %title;
            color: #262626;
            padding-bottom: 23px;
        }

        .subtext {
            @extend %subtext;
            width: 53%;
            margin: 0 auto;
            padding-bottom: 45px;
        }
    }

    &__grid {
        display: grid;
        //grid-template-columns: calc(50% - 30px) calc(16.333% - 15px) calc(33.333% - 15px);
        //grid-template-columns: 50% 16.333% 33.333%;
        //grid-template-columns: 5fr 2fr 3fr;
        //grid-template-columns: 4.8fr 2fr 3.2fr;
        gap: 30px;
    }

    .image-big {
        grid-area: span 2/span 2;
    }

    .image-middle:last-child {
        grid-column: 2/4;
    }

    &__button {
        @extend %btn-block;
    }

    .btn-blue {
        @extend %btn;
        @extend %btn-blue;
    }
}
