$base_size:16;

@mixin fz($px_size) {
    font-size: ($px_size/$base_size)+rem;
}

@media screen and (max-width: 1210px) {

    .film__item {
        width: calc(25% - 16px);
    }

    .favorite-card li {
        width: calc(20% - 16px);

        .film-poster_link {
            .myStyle_detail {
                @include fz(24);
            }
        }
    }
}

@media screen and (max-width: 999px) {
    .film__item {
        width: calc(33.333% - 16px);

        .film-poster_link {
            .myStyle_detail {
                @include fz(26);
            }
        }
    }

    .favorite-card li {
        width: calc(25% - 16px);

        .card-title {
            @include fz(16);
        }
    }

    .btn-myStyle_clear {
        height: 40px;
        width: 90px;
        padding: 5px 10px;
    }

    .btn-myStyle_search {
        height: 40px;
        width: 90px;

        &:after {
            display: none;
        }
    }
}

@media screen and (max-width: 666px) {
    .film__item {
        width: calc(50% - 15px);
    }

    .favorite-card li {
        width: calc(33.333% - 12px);

        .film-poster_link {
            .myStyle_detail {
                @include fz(18);
            }
        }
    }

    .section-search_up {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 510px) {
    .film__item {
        width: calc(100%);

        .film-poster_link {
            .myStyle_detail {
                @include fz(29);
            }
        }
    }

    .favorite-card li {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 366px) {
    .favorite-card li {
        width: calc(50%);
        // width: calc(100% - 10px);

        .film-poster_link {
            .myStyle_detail {
                @include fz(16);
            }

            .btn-favorite {
                position: absolute;
                right: 5px;
                bottom: 5px;
                width: 25px;
                height: 25px;
                line-height: 25px;

                span {
                    @include fz(20);
                }
            }
        }
    }
}

// @media screen and (max-width: 366px) {
//     .favorite-card li {
//         width: calc(100% - 10px);

//         .film-poster_link {
//             .myStyle_detail {
//                 @include fz(24);
//             }
//         }
//     }
// }